<button class="btn btn-success" @onclick="() => modal.Open()">Edit</button>

<ModalForm @ref="modal">
    <Title>Edit @nameof(Sale) @Sale.Name</Title>
    <Body>
        <SaleForm Sale="Sale" OnValidSubmit="Edit" FormId="@formId"></SaleForm>
    </Body>
    <Footer>
        <DialogTypeComponent Close="@modal.Close" ShowSaveButton="true" FormId="@formId"></DialogTypeComponent>
    </Footer>
</ModalForm>
