@page "/groups"
@attribute [Authorize]

<PageTitle>Group</PageTitle>

<h3>Group</h3>

<div class="form-group">
    <div class="w-75 input-group mb-3 ">
        <input @bind-value="SearchTerm" @bind-value:event="oninput" type="text" class="form-control" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" @onclick="Clear">Clear</button>
        <GroupCreate />
    </div>
</div>

<RadzenCard Style="margin-bottom: 200px; width: fit-content; min-width: 300px;" Class="mt-5 mx-auto">

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@FilteredGroups" TItem="GroupViewModel" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="GroupViewModel" Property="Name" Filterable="false" Title="ID" Frozen="true" Width="70px" TextAlign="TextAlign.Center" />
        
        <RadzenDataGridColumn TItem="GroupViewModel" Property="Name" Title="Name" Frozen="true" Width="140px" />

        <RadzenDataGridColumn TItem="GroupViewModel" Title="Actions" Width="140px" Filterable="false" Sortable="false">
            <Template Context="data">
                <GroupEdit Group="@data" />
                <button type="button" class="btn btn-danger" @onclick="@(() => DeleteGroup(data.Id))">Delete</button>
                <GroupInfo Group="@data" />
            </Template>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>
</RadzenCard>

@*<table class="table">
    <thead>
    <tr>
    <th>Name</th>
    <th>Mobile</th>
    <th>Age</th>
    <th>Telephone</th>
    <th>BirthDate</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var group in FilteredGroups ?? new())
    {
    <tr>
    <td>@group.Name</td>
    <td>@group.Mobile</td>
    <td>@group.Age</td>
    <td>@group.Telephone</td>
    <td>@group.BirthDate.Value.ToString("MM/dd/yyyy")</td>
    <td>
    <div class="btn-group">
    <GroupEdit Group="@group" />
    <button type="button" class="btn btn-danger" @onclick="@(() => DeleteGroup(group.Id))">Delete</button>
    <GroupInfo Group="@group" />
    </div>
    </td>
    </tr>
    }
    </tbody>
    </table>*@