@if (Employee != null)
{
    <EditForm Model="Employee" id="@FormId" OnValidSubmit="OnValidSubmit">
        <FluentValidationValidator/>

        <div class="form-group">
            <label for="name">Name</label>
            <div>
                <InputText class="form-control" disabled="@IsDisabled" @bind-Value="@Employee.Name" />
                <ValidationMessage For="@(() => Employee.Name)" />
            </div>
        </div>

        <div class="form-group">
            <label for="mobile">Mobile</label>
            <div>
                <InputText class="form-control" disabled="@IsDisabled" @bind-Value="@Employee.Mobile" />
                <ValidationMessage For="@(() => Employee.Mobile)" />
            </div>
        </div>

        <div class="form-group">
            <label for="telephone">Telephone</label>
            <div>
                <InputText class="form-control" disabled="@IsDisabled" @bind-Value="@Employee.Telephone" />
                <ValidationMessage For="@(() => Employee.Telephone)" />
            </div>
        </div>

        <div class="form-group">
            <label for="age">Age</label>
            <div>
                <InputNumber class="form-control" disabled="@IsDisabled" @bind-Value="@Employee.Age" />
                <ValidationMessage For="@(() => Employee.Age)" />
            </div>
        </div>
        <div class="form-group">
            <label for="BirthDate">Birth Date</label>
            <div>
                <InputDate class="form-control" disabled="@IsDisabled" @bind-Value="@Employee.BirthDate" />
                <ValidationMessage For="@(() => Employee.BirthDate)" />
            </div>
        </div>
        <br />
    </EditForm>
}
@code {
    [Parameter] public EmployeeViewModel Employee { get; set; }
    [Parameter] public string FormId { get; set; }

    [Parameter] public EventCallback OnValidSubmit { get; set; }

    [Parameter] public bool IsDisabled { get; set; } = false;
}