<button class="btn btn-success" @onclick="() => modal.Open()">Edit</button>

<ModalForm @ref="modal">
    <Title>Edit @nameof(TeamViewModel) @TeamViewModel.Name</Title>
    <Body>
        <TeamForm Team="TeamViewModel" OnValidSubmit="Edit" FormId="@formId"></TeamForm>
    </Body>
    <Footer>
        <DialogTypeComponent Close="@modal.Close" ShowSaveButton="true" FormId="@formId"></DialogTypeComponent>
    </Footer>
</ModalForm>
